@using System.IdentityModel.Tokens.Jwt
@using Microsoft.AspNetCore.Http
@model RetrieveMovieViewModel


@{
    var access_token = ViewData["access_token"].ToString();
    // ------- Extract userId (sub) from access token
    string accessTokenString = new JwtSecurityTokenHandler().ReadJwtToken(access_token).ToString();
    string toBeSearched = "\"sub\":\"";
    var userId = accessTokenString.Substring(accessTokenString.IndexOf(toBeSearched) + toBeSearched.Length);
    userId = userId.Substring(0, userId.IndexOf("\""));
}

<div class="container">
    <div class="row movie-container d-flex justify-content-start " style="margin-bottom: 85px;background-color: #333;color: #fafafa">
        <div class="col-md-3" style="padding: 0;margin-right: 40px">
            <img src="@Model.ImagePath" alt="Movie Photo" style="height: 345px;width: 280px">
        </div>
        <div class="col-md-8" style="padding: 0;margin: 20px 5px;">
            <p style="font-weight: 700;font-size: 22px">
                @Model.Name<span style="margin-left: 15px;font-weight: 400;font-size: 18px;">(@Model.ReleaseDate)</span>
            </p>
            <span class="fa fa-star checked" style="color: orange"></span>
            <span style="font-weight: 700;font-size: 18px">@Model.OverallRank</span>
            <span style="font-weight: 400
            ;font-size: 12px;">/ @Model.RankCount</span>


            <form asp-controller=Movie asp-action=Rank_Movie style="display: inline-block ; margin-left: 25px">
                <div class="form-group" style="display: inline-block">
                    @* <label asp-for="Rank" class="control-label">Rank It</label> *@
                    <input type="hidden" name="movieName" value="@Model.Name"/>
                    <input type="range" name="RankInputId" id="RankInputId" value="@Model.UserRank" min="0" max="10" step="1" oninput="RankOutputId.value = RankInputId.value" class="form-control-range" style="color: #fafafa;width: 150px;display: inline-block">
                    @* <input type="range" name="RankInputId" id="RankInputId" value="5" min="1" max="10" step="1" oninput="RankOutputId.value = RankInputId.value"> *@
                    <output name="RankOutputId" id="RankOutputId" style="color: #fafafa; display: inline-block;color: #1b6ec2; margin-left: 2rem">@Model.UserRank</output>
                </div>
                <div class="form-group" style="text-align: center;display: inline-block; margin-left: 2rem;">
                    <input type="submit" value="Rank" class="add-new-button" style="border: none;padding: 5px 10px;border-radius: 5px; background-color: orange">
                </div>
            </form>

            <p style="font-weight: 600;font-size: 18px">@Model.Director</p>
            <p style="height: 195px;overflow: hidden;font-size: 16px;padding-top: 5px">@Model.Description</p>
        </div>
    </div>

    <div class="row d-flex justify-content-center" style="margin-bottom: 40px">
        <div class="col-md-4 d-flex justify-content-center">
            @if (new Guid(userId) == Model.UserId)
            {
                <a href="?" class="add-new-button">you added this movie </a>
            }
            else
            {
                <a asp-controller="Movie" asp-action="Who_Added_It" asp-route-movieName="@Model.Name" class="add-new-button">who added it ? &#8594;</a>
            }
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <a asp-controller="Movie" asp-action="Who_Ranked_It" asp-route-movieName="@Model.Name" class="add-new-button">who has been ranked? &#8594;</a>

        </div>
    </div>


    @if (new Guid(userId) == Model.UserId)
    {
        <div class="row d-flex justify-content-center">
            <form asp-controller=Movie asp-action=Delete_Movie>
                <div class="form-group" style="text-align: center;display: inline-block; margin-left: 2rem;">
                    <input type="hidden" name="movieName" value="@Model.Name">
                </div>
                <div class="form-group" style="text-align: center;display: inline-block; margin-left: 2rem;">
                    <input type="submit" value="Delete!" class="add-new-button" style="border: none;padding: 5px 10px;border-radius: 5px; background-color: red; font-weight: 500;font-family: monospace;">
                </div>
            </form>
        </div>
    }


</div>