@* @using Microsoft.AspNetCore.Identity *@
@* @using MVC.Controllers *@
@model IList<GetMoviesViewModel> 


@* @{ *@
@*     ViewData["Title"] = "Home Page"; *@
@* } *@


@* <h2>@ViewData["Signed"]</h2> *@
<div class="container">
    <div class="row">
        <div class="col-md-4 d-flex flex-column align-items-baseline">
            <a style="margin-bottom: 25px; margin-top: 86px" class="add-new-button"  asp-controller=Movie asp-action=Add_New_Movie>+ Add New Movie</a>

            <a class="add-new-button"  asp-controller=User asp-action=Index>Your Account</a>
   


        </div>
        <div class="col-md-8">
            <h4 class="text-center" style="margin-bottom: 50px;font-size: 30px;font-weight:300;line-height:1.2">List of all recent movie</h4>
            
                            @foreach (GetMoviesViewModel movie in @Model)
                            {
                                <a class=" movies-container-link" href="/Movie/@movie.Name">
                                    <div class="row movies-container">
                                        <div class="col-md-4" style="padding: 0">
                                            <img src="@movie.ImagePath" alt="Movie Photo" style="width: 200px;height: 152px;">
                                        </div>
                                        <div class="col-md-8">
                                            <p style="font-weight: 700">@movie.Name</p>
                                            <span class="fa fa-star checked" style="color: orange"></span>
                                            <span style="font-weight: 700;font-size: 14px;">@movie.OverallRank</span>
                                            <span style="font-weight: 400;font-size: 12px;">/ @movie.RankCount</span>
                                            <p style="line-height: 16px; height: 103px;overflow: hidden;font-size: 14px;">@movie.Description</p>
                                        </div>
                                    </div>
                            
                                </a>
                            }


        </div>
    </div>
</div>
    

